  <footer class="footer">
  <div class="content has-text-centered">
      <p class="footer">
          <i class="fas fa-map-marked-alt"></i> <span><a href="https://www.google.com/maps/place/71+Avenue+Henri+Martin,+75116+Paris/@48.8637592,2.2744781,17z/data=!3m1!4b1!4m5!3m4!1s0x47e665561413acd5:0x95171c17a9b55ad4!8m2!3d48.8637592!4d2.2766668">71, avenue Henri Martin, 75016 Paris</a> - <i class="fas fa-phone"></i> <a href="tel:0140721616">01 40 72 16 16</a> - <em>Métro Ligne 9, Rue de la Pompe, Bus n°63, site adapté aux personnes handicapées</em></span>
          <br><br>
          © 2019 <strong>Mairiedu16e</strong> - <i class="fas fa-paper-plane"></i> <a href="/contact">Nous contacter ?</a>
      </p>
  </div>
  </footer>
</body>
</html>