<div class="event-container-single">
    <div class="event-flex-single-mc">
        <div class="event-content">
            <div class="event-title">
            <div><a href="/presentation/">La Mairie</a></div>
            </div>
            <p class="event-text">
                <span class="event-label"> Où nous trouver </span> — 71 Avenue Henri Martin, 75016 PARIS 
            </p>
            <div class="p-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod purus et nunc dignissim, ac feugiat sapien iaculis. Etiam non diam lobortis, rutrum dolor quis, pulvinar metus. Phasellus tincidunt egestas augue, at sagittis turpis imperdiet a. Morbi commodo ante arcu, quis dictum velit ultrices tincidunt. Sed mollis ligula a nisi sodales lacinia. Mauris interdum ac odio vel congue. Fusce ligula velit, efficitur ac lorem sed, bibendum iaculis orci. Vestibulum vel euismod elit. Ut vel velit elit.

                Sed quis tellus tellus. Aliquam dapibus arcu nulla, nec condimentum velit accumsan quis. Nulla facilisi. In vel venenatis sapien. Proin quis auctor risus. Etiam egestas leo et auctor tempor. Morbi lacinia fermentum nisl in maximus. Cras consectetur arcu elit, sed tincidunt enim porta at. Maecenas rhoncus et orci non ornare. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam ullamcorper sollicitudin metus. Nulla volutpat vel ipsum hendrerit laoreet. Mauris viverra laoreet turpis, et pharetra eros egestas ut.
            </div>             
        </div>
        <div class="event-img">
            <div>
                <img class="e-img" src="https://www.api-site.paris.fr/mairies/public/assets/2017%2F4%2Fmairie-75016.jpg" alt="">
            </div>
        </div>
    </div>
</div>